*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}
.spinner{
    height: 80px;
    width: 80px;
    border: 7px solid #fff;
    border-top-color:transparent;
    border-radius: 50%;
    animation:spinner 0.7s linear infinite;
}
@keyframes spinner{
    
    form{}
    to{ 
        transform: rotate(360deg);
    }
}